services:
  - type: web
    name: signaling-server
    runtime: node
    repo: https://github.com/whoshotu/play-with-queen
    buildCommand: cd server && npm install
    startCommand: cd server && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
