:root, .dark {
  --accent: #2F059F;
  --accent-foreground: #FFFFFF;
  --background: #000000;
  --border: #353535;
  --card: #1F1F1F;
  --card-foreground: #FFFFFF;
  --chart-1: #1DB954;
  --chart-2: #FF6B9D;
  --chart-3: #1ED760;
  --chart-4: #FFD700;
  --chart-5: #FF6B6B;
  --destructive: #ED2C3F;
  --destructive-foreground: #ED2C3F;
  --font-sans: Lora;
  --font-serif: Lora;
  --foreground: #FFFFFF;
  --input: #8F8F8F;
  --muted: #2A2A2A;
  --muted-foreground: #B3B3B3;
  --popover: #282828;
  --popover-foreground: #FFFFFF;
  --primary: #29E16D;
  --primary-foreground: #000000;
  --radius: 8px;
  --ring: #FFFFFF;
  --secondary: #CD11DCB0;
  --secondary-foreground: #0E0C0C;
  --shadow-2xl: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-2xs: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-lg: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-md: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-sm: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-xl: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-xs: 0 0 0 1px rgb(255 255 255 / 0.02);
  --sidebar: #121212;
  --sidebar-accent: #2A2A2A;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #000000;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #29E16D;
  --sidebar-primary-foreground: #000000;
  --sidebar-ring: #FFFFFF;
  --spacing: 0.25rem;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;
  --text-4xl: 36px;
  --text-4xl--line-height: 40px;
  --text-5xl: 48px;
  --text-5xl--line-height: 48px;
  --text-6xl: 60px;
  --text-6xl--line-height: 60px;
  --text-7xl: 72px;
  --text-7xl--line-height: 72px;
  --text-8xl: 96px;
  --text-8xl--line-height: 96px;
  --text-9xl: 128px;
  --text-9xl--line-height: 128px;
  --text-base: 19px;
  --text-base--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
}
