:root, .dark {
  --primary: #A78BFA;
  --primary-foreground: #FFFFFF;
  --secondary: #BE185D;
  --secondary-foreground: #FFFFFF;
  --accent: #C084FC;
  --accent-foreground: #FFFFFF;
  --background: #121212;
  --foreground: #FAFAFA;
  --card: #1C1C1E;
  --card-foreground: #FAFAFA;
  --muted: #27272A;
  --muted-foreground: #A1A1AA;
  --sidebar: #121212;
  --sidebar-primary: #A78BFA;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #27272A;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #27272A;
  --sidebar-foreground: #FAFAFA;
  --sidebar-ring: #A78BFA;
  --border: #27272A;
  --input: #3F3F46;
  --popover: #1C1C1E;
  --popover-foreground: #FAFAFA;
  --ring: #A78BFA;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --chart-1: #A78BFA;
  --chart-2: #BE185D;
  --chart-3: #C084FC;
  --chart-4: #EC4899;
  --chart-5: #F472B6;
  --radius: 8px;
  --shadow-2xl: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-2xs: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-lg: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-md: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-sm: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-xl: 0 0 0 1px rgb(255 255 255 / 0.02);
  --shadow-xs: 0 0 0 1px rgb(255 255 255 / 0.02);
  --font-sans: Lora;
  --font-serif: Lora;
  --spacing: 0.25rem;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;
  --text-4xl: 36px;
  --text-4xl--line-height: 40px;
  --text-5xl: 48px;
  --text-5xl--line-height: 48px;
  --text-6xl: 60px;
  --text-6xl--line-height: 60px;
  --text-7xl: 72px;
  --text-7xl--line-height: 72px;
  --text-8xl: 96px;
  --text-8xl--line-height: 96px;
  --text-9xl: 128px;
  --text-9xl--line-height: 128px;
  --text-base: 19px;
  --text-base--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
}
